.vscode/
PRIVATE/
*.idx
*.ilg
*.ind
*.aux
*.bbl
*.bcf
*.blg
*.*latexmk
*.fff
*.fls
*.lof
*.log
*.lot
*.nav
*.out
!/Stat_Help/**/*.out
!/Paper_Antisocial/Mplus/*.out
*.RData
*.run.xml
*.sav
Teaching/MAE4051_Causal_Inference/Materials from Previous years/MAE4051H22_4_Regression/PIRLS
Coursework/UV9121 Process data/Analysis/*.csv
Coursework/UV9002 Philosophy of Sciences/Readings/Readings.pdf
*.snm
*.synctex.gz
*.toc
*.zip
.bib.bak
.bib.sav.tmp
._*
.DS_Store
Teaching/Baysian_SEM
.dta
.dat
