.vscode/
PRIVATE/
*.idx
*.ilg
*.ind
*.aux
*.bbl
*.bcf
*.blg
*.*latexmk
*.fff
*.fls
*.lof
*.log
*.lot
*.nav
*.out
!/Stat_Help/**/*.out
*.RData
*.run.xml
*.sav
Teaching/MAE4051_Causal_Inference/Materials from Previous years/MAE4051H22_4_Regression/PIRLS
*.snm
*.synctex.gz
*.toc
*.zip
